include includes/header.pug    
#content.row
	.col-md-3
	.col-md-6
		.jumbotron
			h1 About Us
			p.lead
				| Bookworm is a friendly community where book lovers can discover and share books. See which books your friends are reading, and keep track of books you're reading or want to read.
			if !currentUser
				p.lead
					a.btn.btn-primary.btn-lg(href='register', role='button') Get Started for FREE
	.col-md-3
include includes/footer.pug  