include includes/header.pug    
#content.row
	.col-md-4
	.col-md-4
		.jumbotron
			h2 Login
			form(method="POST", action="login")
				fieldset
					.form-group
						label Email:
						input.form-control(name="email", type='email', placeholder='Email')
					.form-group
						label Password:
						input.form-control(name="password" type='password', placeholder='Password')
					button.btn.btn-primary(type='submit') Submit
	.col-md-4
include includes/footer.pug